.App {
  text-align: center;
}

.bgcolor {
  background: #CEF3FF;
  width:100%;
  height: 100%;
  position: absolute;
}

form
{
  text-align: center;
  margin-top: 15%;

}
.Register ,label , input{

 text-align: center;
 width: 180.8px;
 margin: auto;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
 
 text-align: center;
 padding-top: 5px;
 padding-bottom: 5px;
 color: rgb(4, 53, 48);
}
.logout-btn{
  padding: auto;  position: absolute;
 
 margin-left: 1450px;
  /* margin-top:-100px; */
  



}
.tablist{
  border: #282c34 solid;
  display: inline-block;
  width: 100%;
  align-content: space-evenly;
  padding: auto;
  margin: auto;
}
.tab{
 

}
.acc-type{
  background-color: black;
 padding: auto;
  text-align: center;
  color: #CEF3FF;
}