.App {
  text-align: center;
}

.bgcolor {
  background: #cef3ff;
  width: 100%;
  height: max-content;
  min-height: 100%;
  position: absolute;
}

form {
  text-align: center;
  margin-top: 15%;
}
.Register,
label,
input {
  text-align: center;
  width: 180.8px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(4, 53, 48);
}
.logout-btn {
  padding: auto;
  position: absolute;

  margin-left: 1450px;
  /* margin-top:-100px; */
}
.tablist {
  border: #282c34 solid;
  display: inline-block;
  width: 100%;
  align-content: space-evenly;
  padding: auto;
  margin: auto;
}
.tab {
}
.acc-type {
  background-color: black;
  padding: auto;
  text-align: center;
  color: #cef3ff;
}

.grid-container {
 
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
  background: #cef3ff;  
  padding: 40px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  height: 150px;
  width: 300px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  box-shadow: black inset;
  border-radius: 6%;
  box-shadow: 4px 3px rgb(186, 219, 219);
}

input{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login-button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
}

.login-button:hover {
  opacity: 0.8;
}

label{
  padding: 5px ;
}
